{% extends '_layout.html' %}

{% block content %}

<h2>Product Catalog</h2>

<a href="/create" class="btn btn-primary my-2">Create New Product</a>

{% if products %}
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for i in products %}
        <tr class="align-middle">
            <th scope="row">{{i.id}}</th>
            <td>
                {% if i.image %}
                <img height="60" src="{{i.image.url}}" alt="{{i.name}}">
                {% else %}
                <img height="60"
                    src="https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg"
                    alt="{{i.name}}">
                {% endif %}
            </td>
            <td>{{i.name}}</td>
            <td>{{i.price}}$</td>
            <td>{{i.stock}}</td>
            <td>
                <a href="/delete/{{i.id}}" class="btn btn-danger">Delete</a>
                <a href="/edit/{{i.id}}" class="btn btn-warning">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav class="d-flex justify-content-center">
    <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </span>
        </li>
        {% endif %}

        {% for num in page.paginator.page_range %}
        {% if page.number == num %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ num }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </span>
        </li>
        {% endif %}
    </ul>
</nav>

<p class="text-center">Items: {{page.start_index}}-{{page.end_index}} of {{total_count}}</p>
{% else %}
<p>No products available.</p>
{% endif %}

{% endblock %}