{% extends '_layout.html' %}

{% block content %}

<h2>Create New Product</h2>

<form class="row g-3" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="col-md-6">
        <label class="form-label">Name</label>
        <!-- <input type="text" name="name" class="form-control" placeholder="Enter product name"> -->
        {{form.name}}
    </div>
    <div class="col-md-3">
        <label class="form-label">Price</label>
        <input type="number" name="price" class="form-control" placeholder="Enter product price">
    </div>
    <div class="col-3">
        <label class="form-label">Stock</label>
        <input type="number" name="stock" min="0" class="form-control" placeholder="Enter products in stock">
    </div>

    <div class="col-12">
        <label class="form-label">Desccription</label>
        <textarea class="form-control" name="description" rows="3" placeholder="Enter products description"></textarea>
    </div>

    <div class="col-md-12">
        <label for="inputCity" class="form-label">Image</label>
        <input type="file" name="image" class="form-control">
    </div>

    <div class="col-6">
        <a href="/list" class="btn btn-dark w-100">Back</a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-success w-100">Create</button>
    </div>
</form>

{% endblock %}