{% extends '_layout.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 g-4">
    {% for i in products %}
    <div class="col">
        <div class="card h-100">
            {% if i.image %}
            <img class="card-img-top" src="{{i.image.url}}" alt="{{i.name}}">
            {% else %}
            <img class="card-img-top"
                src="https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg"
                alt="{{i.name}}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{i.name}}</h5>
                <p class="card-text">{{i.price}}$ - Stock: {{i.stock}}</p>
                <a href="/cart/add/{{i.id}}" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}